.container {
    width: 300px;
}

.submitButtonContainer {
    padding-top: .5em;
    display:flex;
    justify-content: center;
}

.submitButton {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    width: 100px;
    height: 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.disabled {
    background-color: #eee;
    cursor: auto;
}

.team {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE;
    height: 2em;
    width: 100px;
    border-radius: 4px;
  }

  .matchup {
      display: flex;
      justify-content: space-around;
      padding-top: .5em;
  }

  .team:hover {
      color: #607D8B;
      background-color: #DDD;
  }

  .team.MIN {
      color: #FFC62F;
      background-color: #4f2683;
  }
  .team.SEA {
      color: #69be28;
      background-color: #002244;
  }

  .team.selected {
    background-color: #bbb;
  }