div.container {
	display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 15px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}